#streaming-chart {
    width: 100%;
    height: 500px;
}

.x-axis .domain {
    display: none;
}

.bar-label {
    text-anchor: middle;
    font-size: 12px;
    fill: white;
}

.tick {
    fill: white
}