.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p-picklist-source-controls {
  visibility: hidden
}

.p-picklist-target-controls {
  visibility: hidden
}

.p-panel-title {
  color: orange !important;
  font-size: larger;
}

.p-accordion-header-text {
  color: orange !important;
  font-size: larger;
}

.p-panel-toggler {
  color: orange !important;
}

html,
body,
#root{
  height:100%;
  margin: 0
}

.app-container{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.nav-container{
  flex: 0 1 auto;
}
.content-container{
  flex: 1 1 auto;
  flex-shrink: 1;
/*  background-color: yellow;*/
  background-color: #1f2d40;
}
.footer-container{
  flex: 0 1 auto;
  background-color: green;
}